.categories {
  margin-top: 2.5rem;
}
.category-list {
  list-style-type: none;
}
.categories h2 {
  padding: 1rem 0;
}
.category-list {
    display: grid;
    gap: 1rem;
    justify-items: center;
  }
  .category-list li {
    width: 100%;
    padding: 15px 12px;
    border-radius: 8px;
  }
  .category-list li img {
    width: 70%;
    height: 70%;
    object-fit: cover;
  }
  .category-list li img:hover{
    transform:scale(1.1);
    transition: all 0.3s ease-in-out;
  }
  .category-list a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

@media (max-width: 426px) {
  .category-list {
    grid-template-columns: repeat(2, minmax(0, 2fr));
  }

  .category-list a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px){
    .category-list{
        grid-template-columns: repeat(7, minmax(0, 2fr));
    }
 
  
}
